* {
    margin: 0px;
    padding: 0px;
}
*::selection{
    color:white;
    background:black;
}

body{
    width: 100vw;
    height: 100vh;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    width: 100%;
    /* border: 1px solid green; */
    position: relative;
}
#home{
    width:100%;
    height:100vh;
    /* background-color:black; */
    /* border: 1px solid yellow; */

}
#navbar{
    color:black;
    width:100vw;
    position:fixed;
    height:22vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    z-index: 9998;
}
#title img {
    width: 60px;
    cursor: none;
    height: 60px;
    /* border: 0.0000000001rem solid white; */
    box-shadow: 0px 0px 3px white;
    border-radius:20px;
    /* cursor: pointer; */
}
#title h1{
    /* color:black; */
    /* font-family:  */
    cursor: none;
    font-size: 5.3vh;
    font-weight:900;
    text-transform: uppercase;
    /* cursor: pointer; */
}
#title{
    /* border:1px solid; */
    cursor: none;
    height:100px
}
li{
    
    list-style: none;
    
}
ul{
    gap:20px
}
#links li a:hover{
    color:black;

}
a{
    color:#777474;
    text-decoration: none;
}
#register h4{
    font-size: 3vh;
    font-weight:900;
    text-transform: capitalize;
    /* color:black; */
    cursor: pointer;
}
#main-page{
    /* position: fixed; */
    /* background-color: red; */
}
#play{
    cursor:none;
    width: 15px; 
    height:15px;
    background-color: black;
    border:1px solid black;
    border-radius:18px;
    position:fixed;
    filter:blur(2%);
    box-shadow:  0 0 5px 5px rgb(67, 67, 67);
    opacity: 0;
    
}

#page2{
    width:100%;
    min-height:100vh;
    /* overflow: hidden; */
    /* z-index: 12; */
}
#scroll{
    white-space:nowrap;
    display:inline-block;
    margin-top: 20vh;
    width:100%;
    /* height:160px; */
    overflow-y: hidden;
    overflow-x: auto;
/*     background-color: red; */

}
#scroll::-webkit-scrollbar{
    display:none
}
@keyframes anima {
    from{
        transform:translatex(0);
    }
    to{
        transform:translatex(-100%);
    }
    
}
.scroller{
    display:inline-block;
    white-space:nowrap;
    animation: anima 15s linear infinite;


}

.scroller h4{
    color:transparent;
    display:inline-block;
    /* white-space:nowrap; */
    -webkit-text-stroke: 1px green;
    margin-right:3.5vw;
    font-size: 17vh;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 1s ease;

}
.scroller h4:hover{
    color:white;
}
#play1{
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:green;
    position: fixed;
    opacity: 0;
}
#play2{
    width:250px;
    height:250px;
    border-radius:50%;
    background-color:rgb(94, 254, 94); 
    filter:blur(250px);
    position: fixed;
    opacity: 0;
}

#about{
    /* width:100%; */
    gap:30px;
    border:2ps solid red;
    padding:30px 60px ;
}
#about img{
    width:300px;
    height:350px;
    border-radius:20px;
}
#about-us{
    display:flex;
    justify-content:center;
    /* align-items:center; */
    flex-direction:column;
    color:white;
}
#about-us p{
    /* border:2px solid red; */
    width:600px;
    text-align: center;
    font-size:20px;
} 

#about-us h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    color:rgb(164, 164, 164);
    text-transform: capitalize;
    font-weight: 600;
    transition: all 1s ease;
} 
#about-us h3:hover{
    color:white;
    text-decoration: underline;
    font-weight: 900;
    font-size: 33px;
} 
#card{
    width:100%;
    /* gap:35px; */
    justify-content: space-around;
    height:50vh;
    padding:50px 0 ;
    /* border:1px solid red; */
    

}
.card-con{
    width:300px;
    height:300px;
    border-radius:30px;
    background-size: cover;
}
#card1{
    
    background-image:url('https://sidcup-golf-family.netlify.app/Assests/card1.avif');
}
#card2{
    background-image:url(https://sidcup-golf-family.netlify.app/Assests/card2.webp);
}
#card3{
    background-image:url(https://sidcup-golf-family.netlify.app/Assests/card3.avif);
}
#cbtn1{
    
    background-image:url('https://sidcup-golf-family.netlify.app/Assests/card1.avif');
}
#cbtn2{
    background-image:url(https://sidcup-golf-family.netlify.app/Assests/card2.webp);
}
#cbtn3{
    background-image:url(https://sidcup-golf-family.netlify.app/Assests/card3.avif);
}
.cbtn{
    background-size: cover;
    background-position: center center;
}
.content{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-radius:20px;
    transition:all 0.5s ease-in-out;
    opacity: 0;
}
.content h3{
    /* margin: 50px 0 30px 0; */
    font-size:30px;
}
.content p{
    text-align: center;
    font-size:20px;

}
.content:hover{
    opacity: 1;
    background-color: #777474;
}

#page3{
    background-color: rgb(0, 0, 0);
    width:100%;
    min-height:100vh;
    /* border:2px solid red; */
}
#para{
    background-color:#000000 ;
    color:white;
    /* width:100%; */
    height:50vh;
    /* border:2px solid red; */
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 0 100px;

    
}
#para p{
    margin: 50px auto;
    border:2px solid;
    width:60vw;
    font-size: 22px;
    text-align: center;
    line-height: 1;
}
#para h2{
    font-size:20vh;
}
#para h2:first-child{
    margin: -100px 0 0 0 ;
    transform:rotate(180deg);
}
#para h2:last-child{
    margin:  0 0 -100px 0;
    /* border:2px solid red; */
    /* transform:rotate(180deg); */
}
#button-card{
    margin: 30vh 0 0 0;
    width:100%;
    height:40vh;
    color:white
}
#button-card h2{
    width: 100%;
    height:25px;
    padding-left: 30px;
    font-size: 6vw;
}
#card-btn{
    justify-content: space-around;
    gap:30px;
    padding:0 50px;
}
.cbtn{
    border:2px solid;
    width:300px;
    height:120px;
    background-color: #000;
    border-radius:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

}
#end{
    width:100%;
    height:40vh;
}
#end h1{
    height:30vh;
    font-size: 10vh;
    font-weight: 700;
    width:400px;
    height:80px;
    border-radius: 40px;
    text-align: center;
    color:gray;
    margin: auto;
    /* justify-content: center; */
    /* align-items: center; */

}
#end h1:hover{
    color:white;
    border:2px solid gray;
}
